<div class="parent">
        <div class="login">
          <h2>Login</h2>
          <div class="inputBx">
            <input type="text" [(ngModel)]="loginObj.username" placeholder="Username">
          </div>
          <div class="inputBx">
            <input type="password" [(ngModel)]="loginObj.password" placeholder="Password">
          </div>
          <div class="inputBx">
            <input type="button" value="Sign in" (click)="onLogin()">
          </div>
          <div class="links">
            <a href="#">Forget Password</a>
            <a routerLink="/register">Signup</a>
          </div>
        </div>
</div>
